{% load bootstrap4 %} {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %}
<html lang="pt">

  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

<div class='container-fluid'>
<nav class="navbar navbar-toggleable-md navbar-light" style= "     
    -webkit-box-shadow: 0 4px 8px -3px blue;
        -moz-box-shadow: 0 4px 8px -3px blue;
        box-shadow: 0 4px 8px -3px orange;"><div align="center">
  <a class="navbar-brand" href="index.php"><center><h1 class="display-3">SGBR POP-RN</h1></a></center>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.php">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>  
<center>

<form method="POST">

      {% csrf_token %}

    <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Informações sobre o bilhete</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">

      <div class='col-md-6'>
        {%bootstrap_form bilhete layout='vertical'%}

       </div>




    </div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>




<div class="panel-group">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse2">Atendimento</a>
    </h4>
  </div>
  <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">



    <div class='col-md-6'>
      {%bootstrap_form atd layout='vertical'%}
     </div>




  </div>
    <div class="panel-footer"></div>
  </div>
</div>
</div>




<div class="panel-group">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse3">Local</a>
    </h4>
  </div>
  <div id="collapse3" class="panel-collapse collapse">
    <div class="panel-body">



    <div class='col-md-6'>
      {%bootstrap_form local layout='vertical'%}
     </div>




  </div>
    <div class="panel-footer"></div>
  </div>
</div>
</div>





<div class="panel-group">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse4">Informações de Serviço</a>
    </h4>
  </div>
  <div id="collapse4" class="panel-collapse collapse">
    <div class="panel-body">



    <div class='col-md-6'>
      {%bootstrap_form infSer layout='vertical'%}
     </div>




  </div>
    <div class="panel-footer"></div>
  </div>
</div>
</div>





<div class="panel-group">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse5">Parecer</a>
    </h4>
  </div>
  <div id="collapse5" class="panel-collapse collapse">
    <div class="panel-body">



    <div class='col-md-6'>
      {%bootstrap_form parecer layout='vertical'%}
     </div>




  </div>
    <div class="panel-footer">Footer</div>
  </div>
</div>
</div>


<div class="panel-group">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse7">Material</a>
    </h4>
  </div>
  <div id="collapse7" class="panel-collapse collapse">
    <div class="panel-body">



    <div class='col-md-6'>
      {%bootstrap_form material layout='vertical'%}
     </div>




  </div>
    <div class="panel-footer">Footer</div>
  </div>
</div>
</div>


  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse8">Material retorno</a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">



      <div class='col-md-6'>
        {%bootstrap_form matrtrn layout='vertical'%}

       </div>




    </div>
      <div class="panel-footer">Footer</div>
    </div>
  </div>
</div>
       {% bootstrap_button "Salvar" button_type="submit" button_class="btn-primary"%}
    </div>
    	</br>

    </form>
</div>

</center>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>

</html>
