{% load bootstrap3 %} {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %}
<html>

  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>

<div class='container-fluid'>
<form method="POST">

      {% csrf_token %}
      <div class='col-md-9'>
    <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Contrato anual</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">

      <div class='col-md-6'>
        {%bootstrap_form bilhete layout='vertical'%}
        {%bootstrap_form ocorre layout='vertical'%}
        {%bootstrap_form lococorre layout='vertical'%}
        {%bootstrap_form infocorre layout='vertical'%}
        {%bootstrap_form parecerpop layout='vertical'%}
        {%bootstrap_form servinter layout='vertical'%}
      	{%bootstrap_form material layout='vertical'%}
        {%bootstrap_form materialretrn layout='vertical'%}
       </div>




    </div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>

  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse12">Contrato aditivo</a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="panel-body">



      <div class='col-md-6'>

       </div>




    </div>
      <div class="panel-footer">Footer</div>
    </div>
  </div>
</div>
       {% bootstrap_button "Salvar" button_type="submit" button_class="btn-primary"%}
    </div>
    	</br>

    </form>
    </div>

  </body>

</html>
